{{ extend 'layout.html' }}
<!--<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>-->
<script type="text/javascript" src="/static/prisoner/word-count.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
{{ bonus_time = 30 }}
{{ min_words = 100 }}

<style>
.underline {text-decoration: underline;}
h1, .orange {color: #CC6600;}
p {line-height: 1.3em; margin-bottom: .9em; max-width: 700px;}

</style>

{{ title = "Public Relations Content Creator" if treatment else "Corporate Abuse Watch NGO Content Creator" }}

<h1>{{ = treatment }} Work as a {{ = title }}</h1>
<p style="margin-bottom: 1em;">This job pays <b class="orange">{{=request.price}}</b> per
item (via <span title="<b>Mystery Tasks pay in bonus.</b> <br>You will receive a bonus payment 
of {{=request.price}} within {{=bonus_time}} minutes of submitting. <br><br>
You can find bonus payments in <i>Your Account-&gt;Account Settings-&gt;<br>-&gt;View your 
account balance and transaction history</i>" class="bonus underline">bonus</span>).</p>

{{ comp = """Our client is a Public Relations Consultancy. Its clients turn to it for help
    when a public relations disaster happens to them. Our client then makes
    effort in the area of damage management as much as humanly possible to make
    sure that the main mission of our clients to create value for their shareholders
    is preserved.""" if treatment else \
    """Our client is a Human Rights organization. It monitors corporate abuse
    and publishes it trough social media.""" }} 

<p>
	{{ = comp }}
</p>
<p>    
    Our client would like to start outsourcing content creation for these
    media campaigns to Mechanical Turk but is worried about
    quality. Hence are client is giving out test assignments to see what is
    the quality of the responses.
</p>    

    
<h2>Details of the Task</h2>
<p>
{{ task = """You will be presented with a historical case of a Public Relations disaster
    in which our client was not involved.""" if treatment else \
    """You will be presented with a historical case of corporate abuse in which 
    our client was not involved.""" }} 
    
    {{ = task }} 

    As previously mentioned, this a test
    of the response quality. 

{{ exp = """You are asked to write a short rebuttal possibly researching the 
	internet for the necessary information.""" if treatment else \
    	"""Our client undestands that knowing the mindset and arguments of your opponent
    	allows one to defeat them. Consequently, you are asked to take the position
    	of the company participating in this corporate abuse and write a short
    	rebuttal on behalf of that corporate entity possibly researching the internet
    	for the necessary information.""" }} 

{{ = exp }}<br><br>
    
    This assignment has been presented
	to other interested Turkers and your reward is conditional
	on your contribution to be the best available. Your eligibility
	to continue working for us is conditional on your response ranking
	among the top 10 percent among other responses.
</p>

<h2>Case: {{ = case.name }}</h2>
<p>
{{ = case.description }} 
</p>

<h2>Submit your Rebuttal</h2>
<form action method="POST">
<label for="minWord">

    <p>Write a position paper to defend the actions taken by the company in the
    incident. Your letter will be evaluated by a supervisor.  
    To be approved, your letter must:</p>

<ul>
  <li>be well researched
  <li>persuasive
  <li>Receive a <i>writing effort</i> grade of 3 out of 5 as determined by a supervisor
</ul>

Your work will be approved within {{=bonus_time}} minutes.  Thank you!

</p></label><br>
<textarea name="response_to_charge" class="count[{{=min_words}},0]" id="minWord" rows="20" cols="80%"></textarea>
<input id="submit" type="submit" disabled="true" style="min-width: 70px; font-size: 16px; margin: 10px 0;" />
</form>


<style>
#tooltip {
    position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 13px;
	opacity: 1;
	max-width: 500px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	color: #555;
	letter-spacing: 0;
	font-size: 18px;
	font-family: calibri, helvetica;
	line-height: 1.3em;
}
</style>
<script>
params = {
    track: true,
    delay: 0, 
    showURL: false, 
    showBody: " - ", 
    fade: 150,
    fixPNG: true, 
    opacity: 1, 
    left: -120,
     top: 9
};
$('.bonus').tooltip(params);
delete params.left
delete params.top
$('.crime').tooltip(params);
</script>
