<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/prisoner/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" href="/static/prisoner/css/prisoner.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/static/genova/css/style.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/genova/training.js"></script>
<script type="text/javascript" src="/static/genova/validation.js"></script>


{{ include 'stats_box2.html' }}

{{ bonus_time = 60 }}

{{ include 'genova/training.html' }}

<h1>Tag Images</h1>

{{ stats_box() }}

<div style="max-width: 325px; margin-bottom: 110px" class="taskdetails">
  <p>You will be presented with a series of pictures. For each
   picture, provide 5 tags describing its content, and then flag
   whether the picture is appropriate for a general audience. </p>

  <p><span class="orange"><b>Warning:</b></span> These pictures may contain
   disturbing content (explicit sexual content, violence, racism,
   etc.).  Please help us identify them.  You must be 18 or older to
   complete these HITs.</p>
</div>
