{{ extend 'layout.html' }}
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/static/prisoner/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" href="/static/prisoner/css/training.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/prisoner/stats-box.js"></script>

<style>
.keyword {
	position: absolute; 
	left: 91px;
	}  
</style>


{{ bonus_time = 60 }}
<!-- PHOTOS DOWNLOADED FROM OPENPHOTO.NET --> 
<div id="shadow" style="display: none; min-height: 2800px;">
 <h2>Training: Read this Primer on Tagging{{if training:}} and Pass a Test{{pass}}</h2>
 <p>
        There are different categories of tags.  This primer explains them
        to make you a better image tagger.
        {{if training:}}You will be tested on your understanding at the end.{{pass}}
            <div style="width: 45%; float: left;  max-width: 350px; margin: 0 10px;" class="column1">  
    <img src="/static/genova/chess.jpg" width="275" height="200" border="0">
    <p><em>This picture can be tagged with "chessboard", 
        "chess pieces" (objects); "landscape" (orientation).</em></p><br>
    <img src="/static/genova/autumn.jpg" width="275" height="200" border="0">
    <p><em>This photo could be tagged with "bank", "trees" (object), "landscape" (orientation), "autumn" (time)
        or "calm" (emotion).</em></p><br>
    <img src="/static/genova/pollination.jpg" width="275" height="200">
    <p><em>This photo can be tagged with "macro" (technique), "insect" (object), "flower" (object),
        "bee" (object), "spring" (time).</em></p><br><br>
<!--    <img src="/static/genova/control/1.jpg" width="275" heigh="200">
    <p>
      <em>
        This image can be tagged with "collage" (technique), "Eiffel tower" (own name), 
        "landmark" (object), "Paris" (own name).
      </em>
    </p><br>
-->
    </div>  
    <div style="width: 45%; float: left; max-width: 350px; margin: 0 10px;" class="column2">
    <ul>
	<li><strong>Object</strong> - Most important part of every image is represented by objects.
		<em>Chess pieces</em> appear in the first image on the left. A <em>bank</em>
		surrounded with <em>leaves</em> in the second, <em>bee</em> pollinating
		a <em>flower</em> in the third.
        <li><strong>Orientation</strong> - Tags can describe whether the image is of a
                <em>portrait</em> format or a <em>landscape</em> format.
        <li><strong>Technique</strong> - How is the photo taken? How is the image drawn?
                Is it a <em>high speed photography</em> where you can see the climax 
                of an action? Is it a 
                <em>motion blur photography</em> where the photo was taken over a long 
                period of time? Is it a <em>collage</em> created by putting together
                hundreds of smaller pictures?
        <li><strong>Time</strong> - Was the picture taken in the <em>evening</em>? Is there a <em>sunset</em> 
		or <em>sunrise</em>? Can you tell a season of the year? Do fallen leaves indicate <em>autumn</em>? 
                Or do the clothes of the people indicate <em>summer</em> or <em>spring</em>?
        <li><strong>Color</strong> - This may better apply to drawing rather than photos.
                Some drawings use shades of the same color or maybe the colors were chosen
                so that they show high degree of contrast? The colors may be sharp or fuzzy.
        <li><strong>Emotion</strong> - Is the image evocative of certain emotion like <em>fear</em>
                <em>anxiety</em> or <em>nausea</em>? Or does it seem to have a rather <em>calming</em> effect on 
                you?
        <li><strong>Artistic Genre</strong> - Is the style <em>dada</em>? Does it belong into the movement of
                <em>impressionism</em>? Does it belong into Andy Warhol's visual art movement
                <em>pop art</em>?
    </ul>
   </div>
    <div {{ = "class=bonus" if training else "" }}>
    <button class="leave_training" style="margin-left: 35%; padding-left: 10px; padding-right: 10px; padding: 5px; margin-right: 35%;">Go Back to the Task</button>
    </div> 
    
                  <br><br><br>
    <div {{ = "class=bonus" if not training else "" }}>
    <div class="quiz" style="clear: both">
    <h2>Testing Your Understanding of the Guidelines</h2>
    <form>
    <p>
        Look at the tags below and write down (in the text field to the right of the tag) which
        category they belong to.
    </p>
    <div name="batch1" style="clear: both">
      <div style="float: left; width: 210px;">
        <ol>
          <li>portrait
          <li>dawn
          <li>high speed photography
          <li>anxiety
          <li>impressionism
        </ol>
      </div>
      <div style="float: left;">
        <ul style="list-style-type: none;">
          <li style="position: relative;"><input type="text" name="empty" id="par1" {{ = "value=orientation" if not training else "" }}>
          <li style="position: relative;"><input type="text" name="empty" id="par2" {{ = "value=time" if not training else "" }}>
          <li style="position: relative;"><input type="text" name="empty" id="par3" {{ = "value=technique" if not training else "" }}>
          <li style="position: relative;"><input type="text" name="empty" id="par4" {{ = "value=emotion" if not training else "" }}>
          <li style="position: relative;"><input type="text" name="empty" id="par5" {{ = "value=artistic genre" if not training else "" }}>
        </ul>
      </div>
</div>
    <div name="batch2" style="clear: both">
      <div style="float: left; width: 210px">
        <ol>
          <li>macrophotography
          <li>nausea
          <li>chessboard
          <li>cheerfulness
          <li>tree
        </ol>
      </div>
      <div style="float: left;">
        <ul style="list-style-type: none;">
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par6" {{ = "value=collage" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par7" {{ = "value=emotion" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par8" {{ = "value=object" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par9" {{ = "value=emotion" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par10" {{ = "value=object" if not training else "" }}>
        </ul>
      </div>
</div>
    <div name="batch3" style="clear: both">
      <div style="float: left; width: 210px;">
        <ol>
          <li>autumn
          <li>black and white
          <li>fear
          <li>motion blur
          <li>dada
        </ol>
      </div>
      <div style="float: left;">
        <ul style="list-style-type: none;">
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par11" {{ = "value=time" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par12" {{ = "value=technique" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par13" {{ = "value=emotion" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par14" {{ = "value=technique" if not training else "" }}>
          <li style="position: relative;"><input name="empty" style="position: relative; left: 25px;" type="text" id="par15" {{ = "value=artistic genre" if not training else "" }}>
        </ul>
      </div>
</div>
    </div>   
    <input id="quiz_given" type="hidden" {{= "value=1" if training else "value=0" }}>
<div style="clear: both;">
    <button id="butt" style="margin-left: 180px; padding: 5px; padding-left: 20px; padding-right: 20px;">Finish Training</button>
    <button class="cancel_training" style="padding: 5px; padding-left: 30px; padding-right: 30px; margin-left: 80px;">Cancel</button>
</div>
    </form>
    </div>
    </div>
</div>
<div class="congrats">
<h1>Congratulations!</h1>
<p>You have successfully completed the training</p>
<button class="leave_training" style="margin-left: 70px; padding: 5px;">Continue to Task</button>
</div>
<h1>Image Tagging</h1>

<div style="position: absolute; left: 410px;">
  <h3 style="margin-bottom: 3px;">Payment Details</h3>
  <div class="stats">
    <div class="tab selected">
      <div class="stat">{{=request.price_string}}</div> Per HIT
        <span class="details">
                 <ul><li>This job pays {{=request.price_string}} per {{ = len(pics) }} images
                 <li>It pays via bonus. (Find
                 bonus payments in <i>Your Account-&gt;Account
                 Settings-&gt;<br>-&gt;View your account balance and
                 transaction history</i>.)</ul>
         </span>
       </div>
       <div class="tab">
         <div class="stat">{{= improbability_rate }}%</div> Approved
           <span class="details">
                 <ul><li>Your work must be approved.
                 <li>You will be
                 notified within {{=bonus_time}}
                 minutes.
                 <li>You must complete <a class="training" href="#training">image tagging training</a>
                 before working.
                 </ul>
           </span>
         </div>
        <div class="tab">
          <div class="stat">{{=work_limit/len(pics)}}</div> Available
            <span class="details">
                <ul><li>Today you can do {{=work_limit/len(pics)}} HITs.
				<li>The number of HITs available changes each day.</ul>
            </span>
          </div>
          <div id="details_box"></div> 
        </div>
  </div>
</div>

<div style="max-width: 325px; margin-bottom: 175px" class="taskdetails">
<p>

You will be presented with a series of pictures. Provide 5 keywords most
appropriately describing the content of these pictures.
These pictures may contain disagreeable content (explicit sexual
    content, violence, racism, etc.).  
    
</p>
</div>

<form action id="response" method="POST">
{{ i = 0 }}
{{ while i < len(pics): }}
<h2 style="margin-top: 75px;">Image</h2>
<img style="max-width: 800px;" src={{ = pics[i].url }}>
<!-- FROM http://www.morguefile.com/archive -->
<h2>Submit your Keywords</h2>
<p>
<div style="position: relative;">
<div class="train_info">
<p>You must complete <a class="training" href="#training">image tagging training</a>
                 before working.</p>
</div>
<div class="key_inputs" style="position: absolute; left: 0px; top: 0px;">
{{ for j in [1, 2, 3, 4, 5]: }}
{{ id = "keyword" + str(i*5+j) }}
Keyword {{=j}}: <input disabled="disabled" type="text" id={{=id}} class="keyword"><br>
{{ pass }}
{{ i += 1 }}
</div>
</div>
</p>
{{ pass }}
<input id="submit" type="submit" disabled="true" style="min-width: 70px; font-size: 16px; margin: 10px 0;" />
</form>


<script>

params = {
    track: true,
    delay: 0, 
    showURL: false, 
    showBody: " - ", 
    fade: 150,
    fixPNG: true, 
    opacity: 1, 
    left: -120,
     top: 9
};
$('.bonus').tooltip(params);
delete params.left
delete params.top
$('.crime').tooltip(params);

//######## Keywords for the actual task and the behavior of the Submit button of the 
//######## actual task

    
    
$('form input:text').change(function(){
        re1 = $('input[id=keyword1]').val();
        re2 = $('input[id=keyword2]').val();
        re3 = $('input[id=keyword3]').val();
        re4 = $('input[id=keyword4]').val();
        re5 = $('input[id=keyword5]').val();

        if(re1 != '' & re2 != '' & re3 != '' & re4 != '' & re5 != '')
        {
                $("input[type=submit]").removeAttr('disabled');
        }
      });
     
function show_training() {
  scrollTo(0,0);
  jQuery('#shadow').fadeIn().find('button').click(function(e) {
    e.preventDefault();
    //#jQuery('.err').remove();
    if($('input[id=quiz_given]').val()=='0')
    {
      overall = 15;
      //alert('Yo!');
    }
    else
    {
      //overall = 0  //This is for testing purposes only
      overall = $('.quiz input[name=correct]').length;
    }

    if(overall == 15)
    {
            //$('.test').hide();
      $('form input:text').prop("disabled", false);
      $('#shadow').fadeOut();
      $('.train_info').fadeOut();
      $('.key_inputs').css('position', 'relative');
      if($('input[id=quiz_given]').val()=='1')
      {
        $('.congrats').fadeIn();
      }
      $('.trainbutton').fadeIn();
      window.scroll(0,0);
    }
    else
    {
        $('div.err').remove();
	$('div.cor').remove();
	//var first_empty = $('.quiz input[name=empty]').attr("id").replace( /^\D+/g, '');
	//var first_incorrect = $('.quiz input[name=incorrect]').attr("id").replace( /^\D+/g, '');
	//if(first_empty < 6 | first_incorrect < 6)
	if($('div[name=batch1] input[name=empty]').length > 0 | $('div[name=batch1] input[name=incorrect]').length > 0)
	{
		$('.quiz div[name=batch1]').after('<div class="err" style="left: 1em; clear: both;">You have either filled incorrectly or not at all one of the fields in the first batch of questions!</div>');
	}
	else
	{
		$('.quiz div[name=batch1]').after('<div class="cor" style="left: 1em; clear: both;">Success!</div>');
	}
	//else if(first_empty < 11 | first_incorrect < 11)
	if($('div[name=batch2] input[name=empty]').length > 0 | $('div[name=batch2] input[name=incorrect]').length > 0)
	{
		$('.quiz div[name=batch2]').after('<div class="err" style="left: 1em; clear: both;">You have either filled incorrectly or not at all one of the fields in the second batch of questions!</div>');
	}
	else
	{
		$('.quiz div[name=batch2]').after('<div class="cor" style="left: 1em; clear: both;">Success!</div>');
	}
	if($('div[name=batch3] input[name=empty]').length > 0 | $('div[name=batch3] input[name=incorrect]').length > 0)
	{
		$('.quiz div[name=batch3]').after('<div class="err" style="left: 1em; clear: both;">You have either filled incorrectly or not at all one of the fields in the third batch of questions!</div>');
	}
	else
	{
		$('.quiz div[name=batch3]').after('<div class="cor" style="left: 1em; clear: both;">Success!</div>');
	}
        //$('#butt').parent().before('<div class="err" style="left: 1em; clear: both;">Fool, One or more answers is incorrect or missing!</div>');
    }
  });
}

$('.quiz input:text').on("change", function() { 
        /* ... */ 
  possible_answers = new Array("object", "orientation", "emotion", "technique", "time", "color",
        "emotion", "artistic genre");
  user_answer = new Array(this.value.toLowerCase());
  if($(user_answer).not(possible_answers).length != 0)
  {
             if($(this).attr('id').length==4)
        {
          multiplier = $(this).attr('id')[3];
        }
        else
        {
          multiplier = $(this).attr('id')[3] + $(this).attr('id')[4];
        }

          if(multiplier < 6)
          {
          my_top = (multiplier-1.1)*23;
        }
        else if(multiplier < 11)
        {
          my_top = (multiplier-6.1)*23;
        }
        else
        {
          my_top = (multiplier-11.1)*23;
        }
        $(this).after('<span style="position: absolute; left: 200px; min-width: 200px; top: ' + my_top + 'px;" class="err">Not a possible answer!</span>');
	$(this).attr("name", "incorrect");
  }
  else
  {
    $(this).parent().find('.err').remove();
    position_input = $('.quiz input:text').index($(this));
    correct_answers = new Array("orientation", "time", "technique", 
          "emotion", "artistic genre", "technique", "emotion", "object",
          "emotion", "object", "time", "color", "emotion",
          "technique", "artistic genre");
    if (correct_answers[position_input]==user_answer)
    {
        this.name="correct";
    }
    else
    {
        $(this).attr("name", "incorrect");
    }
  }        
    });


function leave_training(){
  window.scroll(0,0);
  $('#shadow').fadeOut();
}

function hide_training() {
  window.scroll(0,0);
  $('#shadow').fadeOut();
  $('.congrats').fadeOut();
}

$(".training").bind('click', show_training);
$('.leave_training').bind('click', hide_training);    
$(".cancel_training").bind('click', leave_training);


$(document).on('click', 'a.training', show_training);    
</script>
