{{ extend 'layout.html' }}
<!--<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>-->
<script type="text/javascript" src="/static/prisoner/word-count.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>
{{ bonus_time = 30 }}
{{ min_words = 100 }}

<style>
.underline {text-decoration: underline;}
h1, .orange {color: #CC6600;}
p, ol, ul {line-height: 1.3em; margin-bottom: .9em; max-width: 700px;}
#shadow h2 {
   margin-bottom: 15px;
}
</style>
<div id="shadow" style="display: none;">
 <h2>Training Guidelines for Image Tagging</h2>
 <p>
	When you tag a photo, you assign it a keyword or phrase for simplified searching and classification. 
    <div style="width: 45%; float: left;  max-width: 350px; margin: 0 10px;" class="column1">  
    <img src="http://www.stockfreeimages.com/Knut-thumb17628162.jpg" width="275" height="200" border="0">
    <p><em>This photo could be tagged with "Nature," "Autumn," "Oregon hiking," or something more specific, 
	like "Salmon River '09."</em></p><br>
    <img src="http://www.stockfreeimages.com/Pollination-thumb20288120.jpg" width="275" height="200">
    <p><em>Add up to 5 tags to a photo as you think are relevant or that could be helpful when searching images.</em></p>
    </div>
    
    <div style="width: 45%; float: left; max-width: 350px; margin: 0 10px;" class="column2">
    <ul>
      <li>If a photo is in a stockpile of millions of other photos it is important to 
	add tags that describe it well. There are several ways how you can describe photo.
	It is important to capture the following different dimensions of the image rather
	than use a lot of tags describing this one category.
      <li><strong>Forefront tags - </strong> Some photos have main actors in the forefront of the
	image (e. g. the bear in the photo on the left). Tags can identify this aspect of the
	image.
      <li><strong>Background (scenery) tags - </strong> Tags can describe the background of the image.
	Is there landscape? Is it a picture of a city? Is there sea or mountains?
      <li><strong>Time tags - </strong>
        Is there any time information that can be deduced from the picture? If it is black and white may
	be the picture is old. Clothes that people wear on the picture can tell you if the picture 
	was shot in the 90s or 80s. Does the pictures describe recent news events?
      <li><strong>Technique - </strong> is it a macro photo (very small and/or close-up objects)?
	Is it a portrait? Is it an abstract photography? Is it a journalistic photography? A documentary
	photography? An action photography?
      <li><strong>Quality - </strong> Does it look like the photo has been taken by a professional
	or amateur? What is the resolution quality of the picture? Is it a web photo or a photo
	that can be printed in high quality?
      <li><strong>Story - </strong> A picture might have a story. Is there a bear looking out
	for its prey? Is there a flower being pollinated?
    </ul>
    </div>
                  <br><br><br>
    <h2>Testing Your Understanding of the Guidelines</h2>
   <div style="width: 45%; float: left;  max-width: 350px; margin: 0 10px;" class="column1">  
    <img style="margin-bottom: 50px; margin-top: 15px;" src="http://www.stockfreeimages.com/Geese-thumb29687.jpg" width="275" height="200" border="0">
    <img style="margin-bottom: 50px; margin-top: 15px;" src="http://www.dreamstime.com/water-splash-from-bottle-thumb21576605.jpg" width="275" height="200">
    <img style="margin-bottom: 50px; margin-top: 15px;" src="http://www.dreamstime.com/cat-thumb9142291.jpg" width="275" height="200">
    </div>
    
    <div style="width: 45%; float: left; max-width: 350px; margin: 0 10px;" class="column2">
    <form>
    <p>Imagine this picture has already the following four tags: "geese", "eating", "highres", "grass". 
       Which one of the following tags would most worthwhile to add in a sense that the dimension
       it describes has not been described by the previous tags?</p>
            <ul>
              <li>animals</li>
              <li>meadow</li>
              <li>close-up</li>
              <li>couple</li>
              <li>highdef</li>
            </ul>
            Your answer: <input style="position: relative; left: 25px;" type="text" id="par1" name="article1">
    </p>   
    <p>Assume there are already the following tags describing the picture to the 
	left: "bottle", "blue", "spill", and "highdef". Which one of the following
	tags is the most redundant?</p>
            <ul>
              <li>modern
              <li>new
              <li>close-up
              <li>portrait
              <li>water
            </ul>
            Your answer: <input style="position: relative; left: 25px;" type="text" id="par2" name="article2">
    </p>   
    <p>Which one of the following tags describes a story but rather describes some
	other dimension about the image?</p>
            <ul>
              <li>rain
              <li>woman
              <li>cat
              <li>danger
              <li>bizarre
            </ul>
            Your answer: <input style="position: relative; left: 25px;" type="text" id="par3" name="article3">
    </p>   
    <button id="butt" style="padding: 5px;">Answer</button>
    </form>
    </div>
    
</div>
<h1>Image Tagging</h1>
<p style="margin-bottom: 1em;">This job pays <b class="orange">{{=request.price}}</b> per
item (via <span title="<b>This HIT pays in bonus.</b> <br>You will receive a bonus payment 
of {{=request.price}} within {{=bonus_time}} minutes of submitting. <br><br>
You can find bonus payments in <i>Your Account-&gt;Account Settings-&gt;<br>-&gt;View your 
account balance and transaction history</i>" class="bonus underline">bonus</span>).</p>
    



<h2>Details of the Task</h2>
<p>
{{ task = """These pictures may contain illicit, disagreeable content (explicit sexual
    content, violence, racism etc.) """ if treatment1 else ""}} 

You will be presented with a series of pictures. Provide 5 keywords most
appropriately describing the content of these pictures.
    {{ = task }}
</p>

<h2>Image</h2>
<img width="275" height="200" src={{ = pic.url }}>

<h2>Submit your Keywords</h2>
<form action id="response" method="POST">
<p>To ensure the quality of tags in terms of relevance:</p>
<ul>
  <li>First, pass the <a class="training" href="#training">tagging training</a>
  <li>Then, your submitted tags must pass an evaluation.<br>
(Current approval rate: <b style="color: #000000;">30%</b> of HITs submitted)
</ul>
<p>
You will be notified of your letter's approval within {{=bonus_time}}
minutes.  Thank you!
</p>
<p>
Keyword 1: <input type="text" id="keyword1"><br>
Keyword 2: <input type="text" id="keyword2"><br>
Keyword 3: <input type="text" id="keyword3"><br>
Keyword 4: <input type="text" id="keyword4"><br>
Keyword 5: <input type="text" id="keyword5"><br>
</p>
<input id="submit" type="submit" disabled="true" style="min-width: 70px; font-size: 16px; margin: 10px 0;" />
</form>


<style>
#tooltip {
    position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 13px;
	opacity: 1;
	max-width: 500px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	color: #555;
	letter-spacing: 0;
	font-size: 18px;
	font-family: calibri, helvetica;
	line-height: 1.3em;
}

#shadow {
    background: #eee;
    position: absolute;
    z-index: 9999;
    opacity: 0
    color: #444;
    display: none;
    padding: 30px;
    box-shadow: 3px 3px 0px 0px #888888;
    /*margin: 15px;*/
}
</style>
<script>
params = {
    track: true,
    delay: 0, 
    showURL: false, 
    showBody: " - ", 
    fade: 150,
    fixPNG: true, 
    opacity: 1, 
    left: -120,
     top: 9
};
$('.bonus').tooltip(params);
delete params.left
delete params.top
$('.crime').tooltip(params);
</script>
<script>
    re1 = $('input[id=keyword1]').val();
    re2 = $('input[id=keyword2]').val();
    re3 = $('input[id=keyword3]').val();
    re4 = $('input[id=keyword4]').val();
    re5 = $('input[id=keyword5]').val();
    
    if(re1 != '' & re2 != '' & re3 != '' & re4 != '' & re5 != '')
    {
            $("input[type=submit]").attr("disabled", "enabled");
    }
    
    $('input[id=keyword1]').change(function(){
            //Validate your form here, example:
            var validated1 = true;
            if($('#keyword1').val().length === 0) validated = false;
 
            //If form is validated enable form
            if(validated) $("input[type=submit]").removeAttr("disabled");                             
      });
      
function show_training() {
    scrollTo(0,0);
    jQuery('#shadow').fadeIn()
      .find('button').click(function(e) {
            e.preventDefault();
          value1 = $('input[id=par1]').val();
          value2 = $('input[id=par2]').val();
          value3 = $('input[id=par3]').val();

        if(value1 == 'close-up' & value2 == 'water' & value3 == 'danger')
        {
            $('#shadow').fadeOut(2000);
            window.scroll(0,0);
        }
    });
}

    $(".training").bind('click', show_training);
    



</script>
