{{ extend 'layout.html' }}

{{ firsttime = "$%.2f" % request.first_time_bonus }}

<link rel="stylesheet" href="/static/prisoner/css/training.css" type="text/css" media="screen"/>


<style>
  .submit {
  	font-size: 18px;
  	background-color: #55f;
	color: white;
  	padding: 10px 20px;
	font-weight: 200;
  }
</style>

<h1>First-time Worker Bonus!</h1>

<div style="max-width: 325px;" class="taskdetails">
    <p>
	We give {{=firsttime}} to each first-time worker. It is our way of saying "hello."
	</p>

	<p>
	<form method="post" action="/utiliscope/submit_first_hit">
		<button type="submit" label="submit" class="submit">
		  Accept one-time {{=firsttime}} bonus
		</button>
	</form>
	</p>

	<p>
	You are under no obligations to do any work because of this extra bonus.
	It is a free gift.
	</p>
</div>
