{{ extend 'layout.html' }}

{{ pay = "$%.2f" % request.first_time_bonus }}


<link rel="stylesheet" href="/static/prisoner/css/prisoner.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/static/css/stats_box.css" type="text/css" media="screen"/>

<style>
.submit {
  	font-size: 20px;
   font-family: georgia;
  	background-color: #eee;
	color: black;
  	padding: 10px 20px;
	margin-top: 10px;
}
p {font-size: 20px;}
body {padding: 40px; }

.bonus_line {
	/*color: #007721;*/
	/*text-decoration: underline;*/
   margin-bottom: 1em;
}

.bonus_line b {letter-spacing: 0; color: #CC6600;}

</style>

<h1>Hello! New worker!</h1>

<div style="max-width: 525px;" class="taskdetails">
    <h2 class="bonus_line">
	Here's a <b>{{=pay}}</b> bonus, just for saying hello!
	</h2>

	<p>This will help you become accustomed to our payment
	system. <i>Our hits pay entirely in bonus</i>, which you will see
	listed in your
	<a href="https://payments.amazon.com/sdui/sdui/dailysummary"
	target="_blank">Amazon Payments History.</a> (For future
	reference, you can find that link at the bottom of
	your <a href="https://www.mturk.com/mturk/youraccount"
	target="_blank">MTurk Account Settings.</a>)</p>

	<p>When you click the button below, you'll get a {{=pay}} bonus and
	be ready to accept your first real hit!</p>

	<form method="post" action="/utiliscope/submit_first_hit?live&assignmentId={{=request.assid}}&hitId={{=request.hitid}}&workerId={{=request.workerid}}&turkSubmitTo={{=request.vars.turkSubmitTo}}">
<!--		<input type="hidden" name="workerId" value="{{=request.workerid}}"/>
		<input type="hidden" name="hitId" value="{{=request.hitid}}"/>
		<input type="hidden" name="assignmentId" value="{{=request.assid}}"/>
		<input type="hidden" name="live" value="true"/>
		<input type="hidden" name="turkSubmitTo" value="{{=request.vars.turkSubmitTo}}"/>
		<input type="hidden" name="live" value="true"/> -->

		<button type="submit" label="submit" class="submit orange">
		  I'm ready to click accept on my first real hit!
		</button>

	</form>
	</p>

</div>
