{{ extend 'layout.html' }}

<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/prisoner/css/prisoner.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/prisoner/word-count.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>

<style>
img {
	margin-left: -11px;
	margin-top: 28px;
}
body {
	margin-top: 17px;
   line-height: 1.5em;
   font-size: 18px;
   padding-left: 89px;
}
div.bluebar {
   background-color: #669;
   color: white;
   padding: .5em;
   width: 290px;
   margin: -6px 0 30px 0;
	font-style: italic;
	text-align: center;
	letter-spacing: 1px;
}
#upper-right {
	position: absolute;
	left: 510px;
	top: 80px;
	line-height: 2em;
}
.qbox {
	border: dashed 1px #dcdcdc;
	background-color: #f8f8f8;
	width: 70px;
	height: 1.5em;
	position: absolute;
	left: 130px;
	margin-bottom: -5px;
}
</style>

<div id="upper-right">
  <span class="qbox"></span>
  Current task:
  <br>	
  <span class="qbox"></span>
  Current price:
</div>
<img src="/static/img/crowdclearinghouse.png">


<div class="bluebar">Different tasks each day</div>

We run a variety of jobs through this clearing house.<br>
Accept HIT to see today's task.<br>
Return it if you do not like it.<br>
<br>
<br>
If you are a requester and would like to run tasks through our clearing house, please contact crowdclearinghouse@yahoo.com
