{{ extend 'layout.html' }}

<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/prisoner/css/prisoner.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/prisoner/word-count.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>

<style>
img {
	margin-left: -11px;
	margin-top: 28px;
}
body {
	margin-top: 17px;
   line-height: 1.5em;
   font-size: 18px;
   padding-left: 89px;
}
div.bluebar {
   background-color: #669;
   color: white;
   padding: .5em;
   width: 292px;
   margin: -6px 0 30px 0;
	padding-left: 2em;
	/*font-style: italic;*/
	/*text-align: center;*/
	/*letter-spacing: 1px;*/
}
</style>

<img src="/static/img/crowdclearinghouse.png">

<div class="bluebar">Different tasks each day<br>
Accept today's HIT to see it.<br>
Return it if you don't like it.</div>

We run a variety of jobs through this clearing house.<br>
If you are a requester and would like to run tasks through our clearing house, please contact crowdclearinghouse@yahoo.com
