<script type="text/javascript" src="/static/prisoner/stats-box.js"></script>
<link rel="stylesheet" href="/static/css/stats_box.css" type="text/css" media="screen"/>

{{ def stats_box(): }}
<div style="position: absolute; left: 410px;">
	<h3 style="margin-bottom: 3px;">Payment Details</h3>
	<div class="stats">

		 <div class="tab selected">
			 <div class="stat">{{=request.price_string}}</div> Per HIT
			 <span class="details">
		         <ul>

			<li>This job pays {{=request.price_string}} per HIT via
			    bonus.

			<li>Bonus payments will be visible in your

			    <a href="https://payments.amazon.com/sdui/sdui/dailysummary"
			    target="_blank">Amazon Payments History</a>.

			    (For future reference, you can find that link at the
			    bottom of your MTurk
			    <a href="https://www.mturk.com/mturk/youraccount"
			    target="_blank">Account Settings</a>.)

			</ul>
			 </span>
		 </div>

		 <div class="tab">
			 <div class="stat">{{=improbability_rate}}%</div> Approved
			 <span class="details">
			 <ul>

			   <li>Our staff will approve or reject your work in roughly
			   {{=request.pay_delay / 60}} minutes.

				<li>Today they have been approving around {{=improbability_rate}}%
			   of submitted tags.
			   
			   <li>Your pay is proportional to the number of your tags approved.

			</ul>

			 </span>
		 </div>

		 <div class="tab">
			 <div class="stat">{{=availability.capitalize()}}</div> Availability
			 <span class="details">
          <ul>

{{ if availability == 'high': }}

            <li>There is a high availability of pictures today.
		<!--		<li>Images are loaded into HITs as fast as our database server responds. -->
			

{{ else: }}

            <li>You may experience delays today.
            <li>If you see no pictures, we are busy uploading additional ones.
    
<!--    	    <li>Images are loaded into HITs as fast as our database server responds.
            <li>You may experience periodic delays when the database server receives too requests.
-->

{{ pass }}

			   <li>A maximum of {{=work_limit}} HITs per worker are
			   available per day.  You have {{=hits_left}} left today.
			 </ul>
			 </span>
		 </div>

		 <div id="details_box"></div>
	 </div>
</div>
{{ pass }}
