{{ extend 'layout.html' }}

<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/prisoner/css/training.css" type="text/css" media="screen"/>

{{ title = "an Inmate" }}
{{ org = 'inmates' }}
{{ bonus_time = 60 }}

<h1>Write a Short Letter to {{=title}}</h1>

<div style="position: absolute; left: 410px;">
	<h3 style="margin-bottom: 3px;">Payment Details</h3>
	<div class="stats">
		 <div id="details_box" style=" top: 0; text-align: left;">
				 This job pays per letter via bonus. 
				 <br><br>You can find
				 bonus payments in <i>Your Account-&gt;Account
				 Settings-&gt;<br>-&gt;View your account balance and
				 transaction history</i>.
		</div>
	</div>			

</div>

<div style="max-width: 325px;" class="taskdetails">
    <p>
	Inmates need moral support from outside of the prison
	walls. Research shows that inmates with positive contacts
	outside of prison are less likely to return to prison, crime,
	and substance abuse, and more likely to find a job upon
	release.
	</p>

	<p>
	This job involves writing short letters to inmates. You will be
	paid a bonus per successfully completed HIT. Click "Accept HIT" to
	see the complete details on the job.
	</p>
</div>
