{{ extend 'layout.html' }}

<link rel="stylesheet" href="/static/prisoner/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/prisoner/css/training.css" type="text/css" media="screen"/>
<script type="text/javascript" src="/static/prisoner/word-count.js"></script>
<script type="text/javascript" src="/static/prisoner/jquery.tooltip.min.js"></script>

<style>
.preview_only {
    background-color: #e5e5e5;
    padding: 9px;
    width: 260px;
    Border: solid 1px #c5c5c5;
    }
</style>

{{ bonus_time = 60 }}

<h1>Image Tagging</h1>

<div style="position: absolute; left: 410px;">
	<h3 style="margin-bottom: 3px;">Payment Details</h3>
	<div class="stats">
		 <div id="details_box" style=" top: 0; text-align: left;">
				 <p>You will be paid a <b>bonus</b> per successfully completed HIT.</p>
				 <p>Click "Accept HIT" to see the complete details, including the pay, for the job. </p>
		</div>
	</div>			

</div>

<div style="max-width: 325px;" class="taskdetails">
    <p>
	You will be presented with a series of pictures. Provide 5 keywords
	most appropriately describing the content of these pictures. These
	pictures may contain disagreeable content (explicit sexual content,
	violence, racism, etc.).
	</p>

</div>

<h2 style="margin-bottom: 12px;">Prisoner's profile</h2>
<h3>Offense</h3>
<p class="preview_only">Revealed once you accept the HIT.</p>

<h3>Bio</h3>
<p class="preview_only">Revealed once you accept the HIT.</p>


<div style="position: relative;">
<div style="width: 55%; float: left; position: absolute; z-index: 100;">
<h2>Submit your Letter</h2>
<label for="minWord">
</label><br>
</div>
</div>

<div style="position: relative; top: 30px;">
<form action method="POST">
<input type="hidden" id="time_enter" name="time_enter">
<input type="hidden" id="start_training" name="start_training">
<input type="hidden" id="finish_training" name="finish_training">
<div id="cover">
Disabled until you accept the HIT.
</div>
  <textarea disabled=disabled name="letter_to_prisoner" class="count[{{=min_words}},0]" id="minWord" rows="20" cols="80%"></textarea>
  <input id="submit" type="submit" disabled="true" style="min-width: 70px; font-size: 16px; margin: 10px 0;" />
</div>

</form>

<script type="text/javascript">
$(document).ready(function() {
	start = new Date();
	$('input[id=time_enter]').val(start); 
});

params = {
    track: true,
    delay: 0, 
    showURL: false, 
    showBody: " - ", 
    fade: 150,
    fixPNG: true, 
    opacity: 1, 
    left: -120,
	 top: 9
};
$('.bonus').tooltip(params);
delete params.left
delete params.top
$('.crime').tooltip(params);


