{{ extend 'layout.html' }}

{{ firsttime = "$0.50" }}

<link rel="stylesheet" href="/static/prisoner/css/training.css" type="text/css" media="screen"/>


<style>
  .submit {
  	font-size: 120%;
  	background-color:#c60;
  	padding: 4px 8px;
  }
</style>

<h1>First-time Worker Bonus!</h1>

<div style="max-width: 325px;" class="taskdetails">
    <p>
	We give {{=firsttime}} to each first-time worker. It is our way of saying "hello."
	</p>

	<p>
	<button type="button" label="submit" class="submit" onclick="alert('Hello world!')">Accept one-time {{=firsttime}} bonus</button>
	</p>

	<p>
	You are under no obligations to do any work because of this extra bonus.
	It is a free gift.
	</p>
</div>
