.underline {text-decoration: underline;}
h1, .orange {color: #CC6600;}
 p, ol, ul {line-height: 1.3em; margin-bottom: .9em; max-width: 700px;}
#shadow h2 {
   margin-bottom: 15px;
}

div.error { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 3px}

h1 {
        font-size: 48px;
        margin-bottom: 15px;
}

.bonus {
        display: none;
}

.congrats {
        display: none;
        max-width: 700px;
        width: 700px;
        background: #e5e5e5;
        position: absolute;
        left: 0px;
        z-index: 500;
        top: 0px;
        box-shadow: 3px 3px 0px 0px #888888;
        padding: 25px;
        height: 2000px;
}

.quiz {
    width: 100%; 
    max-width: 700px; 
    margin: 0 10px; 
    margin-bottom: 20px;
}

.quiz input {
    position: relative; 
    float: left;
    left: 25px;
    margin: 3px;
}



.train_info_hidden {
        visibility: hidden;
        max-width: 302px;
        background: #e5e5e5;
        position: absolute;
        z-index: 0;
        left: 245px;
        top: 0px;
        box-shadow: 2px 2px 0px 0px #888888;
        padding: 19px;
}

.work_limit {
        max-width: 302px;
        background: #e5e5e5;
        position: relative;
    z-index: 20;
        left: 245px;
        top: 0px;
        box-shadow: 2px 2px 0px 0px #888888;
        padding: 19px;
}

.work_limit_hidden {
    visibility: hidden;
        max-width: 302px;
        background: #e5e5e5;
        position: relative;
    z-index: 20;
        left: 245px;
        top: 0px;
        box-shadow: 2px 2px 0px 0px #888888;
        padding: 19px;
}

.err {
    color: red;
    margin: 0px;
    float: left;
    position: relative;
    font: monospace;
    font-style: italic;
    left: 3em;
    top: -5px;
}

.correctAnswer {
    color: black;
    margin: 15px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    border-color: green;
    width: 100px;
    clear: both;
    font: monospace;
    font-style: italic;
    left: 100px;
}

.cor{
       color: black;
        margin: 15px;
        position: relative;
        border-style: solid;
        clear: both;
        font: monospace;
        border-width: 2px;
        width: 70px; 
        text-align: center;
        border-color: green;
        font-style: italic;
        left: 100px;
}



/* test */
#constancy
{
    padding: 15px;
    z-index: 100;
    background: #eee;
    color: #444;
    box-shadow: 3px 3px 0px 0px #888888;
    max-width: 580px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 40px;
    width: 80%;
}
#cover
{
    position: absolute; 
    z-index: 2; 
    top: 10px; 
    left: 10px;
}
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 13px;
    opacity: 1;
    max-width: 500px;
}
#tooltip h3, #tooltip div {
    margin: 0;
    color: #555;
    letter-spacing: 0;
    font-size: 18px;
    font-family: calibri, helvetica;
    line-height: 1.3em;
}

textarea[disabled] {
    background-color: #e5e5e5;
    opacity: .7;
    border: inset style;
    
}

#shadow {
    background: #eee;
    position: absolute;
    z-index: 9999;
    opacity: 0
    color: #444;
    display: none;
    padding: 30px;
    box-shadow: 3px 3px 0px 0px #888888;
}
