.underline {text-decoration: underline;}
h1, .orange {color: #CC6600;}
 p, ol, ul {line-height: 1.3em; margin-bottom: .9em; max-width: 700px;}
#shadow h2 {
   margin-bottom: 15px;
}
#err {
	color: red;
	margin: 15px;
	float: right;
	position: relative;
	font: monospace;
	font-style: italic;
	left: 1em;
}
#cor {
color: black;
margin-top: 15px;
margin-bottom: 15px;
position: relative;
margin-left: auto;
margin-right: auto;
width: 15%;
}
/* test */
#constancy
{
    padding: 15px;
    z-index: 100;
    background: #eee;
    color: #444;
    box-shadow: 3px 3px 0px 0px #888888;
    max-width: 580px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 40px;
    width: 80%;
}
#cover
{
	position: absolute; 
	z-index: 2; 
	top: 10px; 
	left: 10px;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 13px;
	opacity: 1;
	max-width: 500px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	color: #555;
	letter-spacing: 0;
	font-size: 18px;
	font-family: calibri, helvetica;
	line-height: 1.3em;
}

textarea[disabled] {
	background-color: #e5e5e5;
	opacity: .7;
	border: inset style;
	
}

#shadow {
    background: #eee;
    position: absolute;
    z-index: 9999;
    opacity: 0
    color: #444;
    display: none;
    padding: 30px;
    box-shadow: 3px 3px 0px 0px #888888;
}
div.menutop{
	position: relative;
}
div.treatment_box{
	position: absolute;
	left: 400px;
/*float: right;
position: relative;
left: -120px;
margin-top: 10px;
margin-bottom: 220px;
	clear: both;
	float: none;*/
}
div.taskdetails p{
	max-width: 400px;
}
div.taskdetails {
	max-width: 400px;
}
ul.sdt_menu{
	margin-top:15px;
	margin:0;
	padding:0;
	list-style: none;
/*	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;*/
	font-size:14px;
}

ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float: left;
	width:100px;
 	margin-left: 5px;
	height:60px;
	position:relative; 
	cursor:pointer;
    box-shadow: 3px 3px 0px 0px #888888;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:100px;
	height:60px;
	z-index:12;
/* we will change this only temporarily so that
	borders are more visible*/ 
	background-color: #eee; 
/*	background-color: navy;*/
	    color: navy;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:15px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	box-shadow:0px 0px 4px #000 inset;
}

ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr a{
	margin-left:15px;
	text-transform:uppercase; 
	text-shadow:1px 1px 1px #000;
	color: #0B75AF;
}

ul.sdt_menu li span span.sdt_link{
	color:#444;
	font-size:22px;
	font-weight: bold;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	margin-left: 15px;
	color:#0B75AF;
	/*#color: black;	*/
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:280px;
	overflow:hidden;
	height:180px;
	top:70px;
	left:0px;
	display:none;
	background:#e3e3e3;
	color: #444;
	padding: 15px;
	z-index: 20;
}
ul.sdt_menu li div.collar{
	background:#e3e3e3;
}
div.sdt_box a{
	color: #FF5C21;
}
/*
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	#color:#0B75AF;
	color: white;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}
*/
