.underline {text-decoration: underline;}
h1, .orange {color: #CC6600;}
 p, ol, ul {line-height: 1.3em; margin-bottom: .9em; max-width: 700px;}
#shadow h2 {
   margin-bottom: 15px;
}

div.error { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 3px}

h1 {
        font-size: 48px;
        margin-bottom: 15px;
}

.bonus {
        display: none;
}

.congrats {
        display: none;
        max-width: 700px;
        width: 700px;
        background: #eee;
        position: absolute;
        left: 0px;
        z-index: 500;
        top: 0px;
        box-shadow: 3px 3px 0px 0px #888888;
        padding: 25px;
        height: 2000px;
}

.quiz {
	width: 100%; 
	max-width: 700px; 
	margin: 0 10px; 
	margin-bottom: 20px;
}

.quiz input {
	position: relative; 
	float: left;
	left: 25px;
	margin: 3px;
}

.train_info {
        max-width: 302px;
        background: #eee;
        position: relative;
	z-index: 20;
        left: 145px;
        top: 0px;
        box-shadow: 3px 3px 0px 0px #888888;
        padding: 20px;
}

.stats {
        position: relative;
}

.stats .tab {
        float: left;
        width:80px;
        margin-left: 5px;
        height:60px;
    box-shadow: 3px 3px 0px 0px #888888;
        background-color: #eeeeee;

        font-size: 14px;
        text-align: center;
}

.stats .tab:first-child {
    /* This ensures that the gaps between tabs are only BETWEEN them */
        margin-left: 0;
}

.stats .tab.selected {
        height: 100px;
        background-color: #e3e3e3;
}

.stats .tab .stat {
        font-size: 22px;
        font-weight: bold;
        font-family: georgia;
        color: #092E66;/*#072C73;*/
        text-align: center;
        margin: 10px 0 5px 0;
}

.stats .details { display: none; }

.stats #details_box {
        position: absolute;
        width: 230px;
        height: 160px;
        background-color: #e3e3e3;
    box-shadow: 3px 3px 0px 0px #888888;
        top: 69px;
        font-size: 14px;
        padding: 10px;
}

#err {
	color: red;
	margin: 0px;
	float: left;
	position: relative;
	font: monospace;
	font-style: italic;
	left: 3em;
	top: -5px;
}
#cor {
	color: black;
	margin: 15px;
	position: relative;
	clear: both;
	font: monospace;
	font-style: italic;
	left: 100px;
}
/* test */
#constancy
{
    padding: 15px;
    z-index: 100;
    background: #eee;
    color: #444;
    box-shadow: 3px 3px 0px 0px #888888;
    max-width: 580px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 40px;
    width: 80%;
}
#cover
{
	position: absolute; 
	z-index: 2; 
	top: 10px; 
	left: 10px;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 13px;
	opacity: 1;
	max-width: 500px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	color: #555;
	letter-spacing: 0;
	font-size: 18px;
	font-family: calibri, helvetica;
	line-height: 1.3em;
}

textarea[disabled] {
	background-color: #e5e5e5;
	opacity: .7;
	border: inset style;
	
}

#shadow {
    background: #eee;
    position: absolute;
    z-index: 9999;
    opacity: 0
    color: #444;
    display: none;
    padding: 30px;
    box-shadow: 3px 3px 0px 0px #888888;
}
